*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    --light: #888888;
    --grey: #313131;
    --dark: #202020;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
/* Header */
.header{
    background-color: var(--grey);
    box-shadow: inset 0 -1px 4px #030303;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    margin-left: 10px;
}
.home{
    background-color: var(--grey);
    border:none;
}

button img{
    height:20px;
    width:auto;
}

.search{
    border-radius: 4px;
    border: none;
}

.search:focus{
    outline: none;
}

.right{
    margin-right: 10px;
}

/* Bottom */
.bottom{
    display: flex;
    height:92vh;
}
/* Side Bar */
.sideBar{
    background-color: var(--grey);;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 250px;
    gap: 40px;
}

.nav{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}
.nav button{
    border-radius: 6px;
    font-size: 18px;
    width:50px;
    background-color: var(--grey);
    color:white;
    justify-content: flex-start;
    padding: 6px 165px 6px 10px;
    border:none;
}
.nav button:hover{
    filter: brightness(80%);
}

.content{
    background-color: var(--dark);
    flex: 5 5 0;
}

.projects{
    display: flex;
    flex-direction: column;
}
.projectTitle{
    font-weight:bold;
    font-size:20px;
    margin-left: 20px;
    color:white;
}

.inboxUpper{
    margin: 50px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light); 
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    height: 30px;
}
.inboxTitle{
    color:white;
    font-size: 20px;
    font-weight: bold;
}
.sort{
    border-radius:6px;
    padding: 4px 8px;
    border:none;
    background-color: var(--dark);
    color: var(--light);
    font-size:14px;
}
.sort:hover{
    filter:brightness(150%);
}

.addTaskBox{
    margin-left: 50px;
    background-color: var(--dark);
    border: none;
    width:100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color:var(--light);
    font-size:14px;
}
.addTaskBox:hover{
    color:#E51515;
}

/* Today Page */

.todayUpper{
    margin: 50px 50px 38px 50px;
    display: flex;
    gap:14px;
    align-items: flex-end;
}

.todayTitle{
    color:white;
    font-weight: bold;
    font-size: 20px;
}

.dateTitle{
    color: var(--light);
    font-size:14px;
}

